
#welcome-section {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 2rem; 
    border: 2px #413f3f solid;
    border-radius: 3px;
    /* box-shadow: rgba(256, 256, 256, 0.2) 0px 2px 8px 0px; */
    border: 2px rgba(223, 173, 8, 0.699) solid
    
}

.welcome-message h1 {
    /* font-family: "Poppins"; */
    font-size: 70px;
    font-weight: bolder;
    margin-top: 4rem;
    text-align: center;
}

.description-message p {
    /* font-family: "Poppins"; */
    padding: 5rem;
    font-size: 25px;
    font-weight: 300px;
    margin: 1rem;
    text-align: center;
}