header {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* margin: 1rem 2rem 1rem 2rem;*/
}

.menu ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    justify-content: right;
    
}
.menu ul > li {
    padding: 1rem;
    font-family: /*'Poppins'*/ sans-serif;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

}
.menu ul li a {
    text-decoration: none;
    /* color: black; */
    /* color: white; */
    padding-right: 1rem;
}

.menu ul li a:hover {
    color: rgba(223, 173, 8, 0.699);
    transition: 0.3s ease-in-out;
}