* {
  margin: 0;

  /* background-color: whitesmoke;
  color: black; */
}

.app {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.home {
  margin: 30px 70px 30px 70px;
}
