* {
  background-color: #3a3b3d;
  color: white;

  /* background-color: whitesmoke;
  color: black; */
}

.app {
   margin:10px 10rem 10px 10rem;
  /* text-align: center; */
  /* background-color: #375797 */
}
