.form-result {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 2.5rem;
    border: solid 1px grey;
    margin: 3rem 2rem; 
    padding: 1rem  3rem 3rem 3rem;
    height: auto;
}

.result {
    padding: 2rem;
    border: solid 2px grey;
    margin-top: 2rem ;
    border-radius: 5px;
    width: 20rem;
    text-align: center;
}

form{
    display: flex;
    padding: 2rem;
    flex-direction: column;
    width: 18rem;
    border: 2px solid rgba(230, 225, 225, 0.384);
    border-radius: 5px;
    font-size: small;
    font-style: italic;
    margin-top: 2rem;

}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.form-field > p {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    border-bottom: 1px solid rgba(230, 225, 225, 0.384);
}

.form-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 2rem 1rem 1rem ;
}

label{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 12px;
    gap: 10px;
}

input {
    height: 1.9rem;
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 10px;
    margin-left: 10px;
    /* width: 183px; */
}

button{
    width: 5rem;
    height: 2.3rem;
    border-radius: 10px;
    border: none;
}

button:hover{
    border-radius: 10px;
    box-shadow: rgba(243, 243, 239, 0.658) 0px 2px 8px 0px;
    
}


button:nth-child(1){
    background: rgba(206, 43, 43, 0.774);
}
button:nth-child(2){
    background: rgba(56, 207, 56, 0.808);
}